.nav.navbar-nav.navbar-right li a{
  color: white;
}
h1 {
  text-align: center;  
}

a:hover{
  text-decoration: none;
  color: white;
}
.MusExplore {
  font-family: 'Alegreya Sans', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.7em;
  float: left;
  padding: 0.35em;
}

.navbar-brand a{
  color: white;
}

.AboutUs{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.8em;
}

.details{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2em;
}

.links{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.8em;
}

.LinksDetails{
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2em;
}

.navbar-default 
{
  background-color: black;
}

a:hover.linkhover {
  color: inherit;
}


.img-container{
  height: 220px;
  width: 330px;
}

.img-container .img-responsive{
  display: block;
  width: auto;
  max-height: 100%;
}
