.nav.navbar-nav.navbar-right li a {
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}

.MusExplore {
  font-family: 'Alegreya Sans', sans-serif;
  text-decoration: none;
  color: white;
  font-size: 1.7em;
  float: left;
  padding: 0.35em;
}

.navbar-brand a {
  color: white;
}

.ContactUs {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 2.7em;
  font-weight: normal;
}
.Support{ 
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.8em;
}
.details {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 1.2em;
}

.navbar-default {
  background-color: black;
}

a:hover.linkhover {
  color: inherit;
}